.modal__title {
    padding-top: 2.4rem;
    font-size: 2.4rem;
    color: var(--clr-black);
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    padding-left: 3.6rem;
    margin: 0;
  }
  
  @media screen and (max-width: 544px) {
    .modal__title {
      padding-left: 2.2rem;
    }
  }