.pictures__button-add {
  width: 15rem;
  height: 5rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 200;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin-right: 19rem;
  border: none;
}

@media screen and (max-width: 544px) {
  .profile__button-add {
    width: 282px;
    margin: auto;
  }

  .profile__button-add:hover {
    opacity: 0.6;
  }
}
