.profile-photo__edit {
  cursor: pointer;
  transition: var(--transition);
  width: 10%;
  height: 10%;
}

.profile-photo__edit:hover {
  opacity: 0.6;
  scale: 90%;
}

@media screen and (max-width: 544px) {
  .profile-photo__edit {
    margin-top: 0.8rem;
  }
}
