.header__line {
  background: var(--clr-white);
  opacity: 0.7;
  margin: 0 auto;
  width: 88%;
  border: 1px solid var(--clr-oddsection);
  margin-bottom: 10rem;
  transition: var(--transition);
}

.header__line:hover {
  opacity: 0.1;
  scale: 1rem;
  scale: 105%;
}

@media screen and (max-width: 544px) {
  .header__line {
    margin: 2rem auto;
    width: 200%;
  }
}
