.header__logo {
    margin: 4.5rem 20.0rem 0;
    width: 17.7rem;
    margin-bottom: 4.1rem;
    transition: var(--transition);
  }
  
  .header__logo:hover {
    opacity: 0.4;
    letter-spacing: .1rem;
    cursor: pointer;
    scale: 110%;
  }
  
  @media screen and (max-width: 544px) {
    .header__logo {
      margin: 2.8rem 2.7rem 3.2rem;
    }
  }