.modal__salvar {
    width: 35rem;
    height: 5.0rem;
    margin: 4.8rem 3.6rem 3.6rem;
    background-color: var(--clr-black);
    border-radius: 2px;
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition);
  }
  
  @media screen and (max-width: 544px) {
    .modal__salvar {
      width: 23rem;
      height: 4.6rem;
      margin: 4.8rem 2.2rem 2.5rem;
    }
  }
  
  .modal__salvar:hover {
    opacity: 0.8;
  }