.profile-photo__subtitle {
    margin: 1.6rem 1.8rem 0;
    color: var(--clr-tinygrey);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    transition: var(--transition);
  }
  
  .profile-photo__subtitle:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 544px) {
    .profile-photo__subtitle {
      font-size: 1.4rem;
      line-height: 1.21;
      text-align: center;
      margin-top: 1.4rem;
      margin-bottom: 3.6rem;
    }
  }