.profile-photo__image {
  margin-left: 17.7rem;
  width: 20rem;
  border-radius: 50%;
  transition: var(--transition);
}

.profile-photo__image:hover {
  opacity: 0.5;
  letter-spacing: 0.1rem;
  cursor: pointer;
  scale: 105%;
}

@media screen and (max-width: 544px) {
  .profile-photo__image {
    margin-left: 33.5rem;
  }
}
