.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.22;
    color: var(--clr-oddsection);
    transition: var(--transition);
  }
  
  .footer__copyright:hover {
    opacity: 0.6;
    letter-spacing: .1rem;
    cursor: pointer;
  }