.profile-photo {
    display: grid;
    align-items: center;
    grid-template-columns: 0.13fr 1fr;
  }
  
  @media screen and (max-width: 544px) {
    .profile-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      margin-right: 50.7rem;
    }
  }