.pictures {
  margin: 4.6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;
  grid-gap: 3rem 3rem;
}

@media screen and (max-width: 768px) {
  .pictures {
    grid-template-columns: 1fr;
  }
}
