.profile-photo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 544px) {
  .profile-photo__info {
    flex-direction: column;
    margin-left: 40rem;
    margin-top: 2rem;
  }
}
